@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Duplicate Sans";
    src: url("https://dmojr33s8375o.cloudfront.net/_next/static/media/DuplicateSans-Medium.0e4e3671931292cba87b48e731987e13.woff2");
    font-weight: 400;
    font-style: normal;
  }
  .connectbg{
    background-image: url(../src/assets/BuildImages/connect.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
  }
  .directbg{
    background-image: url(../src/assets/BuildImages/directpay.jpg);
    background-size:cover;
    background-repeat: no-repeat; 
  }
  .perceptbg{
    background-image: url(../src/assets/BuildImages/percept.png);
    background-size:cover;
    background-repeat: no-repeat; 
  }
  .getstartedbg{
    background-image: url(../src/assets/getStartedImages/gettingStartedBg.jpg);
    background-size:cover;
    background-repeat: no-repeat; 
  }